body {
  font-family: "Fjord One", serif;
}
.weatherAppWrapper {
  display: block;
  margin: 0 auto;
  border-style: ridge;
  border-color: #865324;
  border-width: 10px;
  background-image: url(`cork-board.jpg`);
  width: auto;
}

.weatherApp {
  padding: 20px 30px 0px;
  margin: 0 auto;
}
