.footerWrapper {
  color: #633e1c;
  margin: 0px;
  padding: 10px 25px 35px 25px;
  background-image: url(`green_postit.png`);
  background-position: center;
  background-size: 100% 100%;
}

a {
  color: #1d8d75;
  text-decoration: underline;
}

#EnvAWAp {
  font-weight: bold;
}
